@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden !important;
}

/*cabeçallho*/
nav {
    background-color: #004AAD;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav, .bt_cb {
    display: flex;
}

nav ul {
    padding: 0;
}

.menu {
    right: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.menu li {
    color: #fff; 
    padding: 10px;
    list-style: none; 
    font-weight: 100;
}

.menu ul li a {
    text-decoration: none; 
    color: #fff;
}

.menu ul li a:hover {
    color: #fdc202;
}

nav ul .menu {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

nav ul:hover .menu {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

.menu ul li:hover ul {
    display: block;
    padding: 8px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
}

button:hover {
    color: #fdc202;
}

/* Interpretes */
.interpretes {   
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;   
    padding: 36px;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(245, 236, 236);
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
}

.Foto_Valor {
    display: flex;
    width: 100%;
}

.foto {
    border: 1px;
    border-radius: 100%;
}

.profissional{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.valor{
    display: flex;
    padding-top: 20px;
    color: black;
    font-size: max(20px 2vw);
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nome {
    padding: 10px 15px;
    color: black;
    font-size: max( 30px 4vw);
}

.nome > h3 {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.funcao {
    font-size: 16px;
    padding-top: 5px;
}

.cidade {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 18px;
}

.descrição{
    display: flex;
    width: 100%;
}

.sobre_mim {
    padding-top: 10px;
    color: #000000;
    font-size: min(18px 5vw);
    font-weight: bold;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto {
    color: #000000;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;		
    font-size: 18px;		
}

.contato {
    display: flex;
    justify-content: center;
}

.bt_confirmar {
    display: flex;
    background-color: #34af23;
    border: 1px solid transparent;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    width: 300px;
    font-size: max(16px 3vw);
    font-weight: bold;
    -moz-transform: all 0.4s;
    -webkit-transform: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;	
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   			
}

.bt_confirmar > p {
    padding-right: 7px;
    font-size: 15px;
}

.bt_confirmar:hover {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
    color: #000000;
}

@media screen and (max-width:600px) {
    .profissional{
        flex-direction: column;
    }
    .valor{
        font-size: 14px;
    }
}