@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
body, html {
    overflow-x: hidden !important;
}

/*cabeçallho*/
header {
    z-index: 99px;
    position: fixed;
	width: 100%;
}

nav {
    background-color: #004AAD;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

nav, button {
    display: flex;
}

nav ul {
    padding: 0;
}

.menu {
    right: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.menu li {
    color: #fff; 
    padding: 10px;
    list-style: none; 
    font-weight: 100;
}

.menu ul li a {
    text-decoration: none; 
    color: #fff;
}

.menu ul li a:hover {
    color: #fdc202;
}

nav ul .menu {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

nav ul:hover .menu {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

.menu ul li:hover ul {
    display: block;
    padding: 8px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
}

button:hover {
    color: #fdc202;
}

/* Corpo */
.corpo {
    padding: 25px;
    margin-top: 150px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-color: #004AAD;
    border: 2px solid transparent;
    border-radius: 20px;
}

h1 {
    color: #fff;
}

.op {
    font-size: 27px;
    color: #fff;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.texto {
    width: 70%;
    text-align: left;
    list-style-type: disc;
    font-size: 25px;    
}

.texto li {
    width: 100%;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: solid transparent;
    border-radius: 10px 10px;
}

.texto a {
    color: rgb(0, 0, 0);
    
}

.texto a p {
    color: rgb(0, 0, 0);
}