@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
body, html {
    overflow-x: hidden !important;
}

/*cabeçallho*/
nav {
    background-color: #004AAD;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

nav, button {
    display: flex;
}

nav ul {
    padding: 0;
}

.menu {
    right: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.menu li {
    color: #fff; 
    padding: 10px;
    list-style: none; 
    font-weight: 100;
}

.menu ul li a {
    text-decoration: none; 
    color: #fff;
}

.menu ul li a:hover {
    color: #fdc202;
}

nav ul .menu {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

nav ul:hover .menu {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

.menu ul li:hover ul {
    display: block;
    padding: 8px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
}

button:hover {
    color: #fdc202;
}

/* LOGIN */
.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;			
}

h2 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
}

.container {
    width: 30%;
    padding: 30px;
    border: solid 2px;
    border-radius: 25px;
    margin-left: 10px;
}

input, label {
    display: block;
    width: 95%;
}

input:focus, label:focus {
    outline: none;
}

.input-field {
    position: relative;
    margin-bottom: 25px;
}

input {
    background-color: rgb(181, 174, 174);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    margin-left: 5px;
}

.botao_login {
    display: flex;
    justify-content: center;
}

.bt_login {
    width: 40%;
    padding: 10px 30px;
    background: #004AAD;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #fff;
    transition: all 0.4s;
    font-size: 15px;
}

.bt_login:hover {
    transform: scale(0.9);
}

.linhas {
    width: 100%;
    margin-top: 15px;
}

.esqueceu_senha {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.esqueceu_senha p {
    margin-bottom: 10px;
}