@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
body, html {
    overflow-x: hidden !important;
}

/*cabeçallho*/
nav {
    background-color: #004AAD;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

nav, button {
    display: flex;
}

nav ul {
    padding: 0;
}

.menu {
    right: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.menu li {
    color: #fff; 
    padding: 10px;
    list-style: none; 
    font-weight: 100;
}

.menu ul li a {
    text-decoration: none; 
    color: #fff;
}

.menu ul li a:hover {
    color: #fdc202;
}

nav ul .menu {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

nav ul:hover .menu {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #004AAD;
    border-radius: 0px 0px 5px 5px;
}

.menu ul li:hover ul {
    display: block;
    padding: 8px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
}

button:hover {
    color: #fdc202;
}

/* Corpo do site*/
#banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px; 
}

.img-home img {
    border-radius: 8px;
    border: 1px solid black;
}

.container-texto {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
}

.texto {
    align-items: center;
    margin-top: 20px;
}

.texto > p {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.botao-começar {
    display: flex;
    padding-top: 30px;
}

.bt-comecar {
    width: 170px;
    margin-left: 36px;
    padding: 10px 30px;
    background: #004AAD;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #fff;
    transition: all 0.4s;
    font-size: 15px;
}

.bt-comecar:hover {
    transform: scale(0.9);
}

.plataforma{
    width: 100%;
    padding: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background-color: #004AAD;
    margin-bottom: 30px;
}

.plataforma > div > h1 {
    width: 92%;
    padding: 0px;
    color: white;
    margin-bottom: 25px;
    font-size: 27px;
    font-family: 'Comfortaa', cursive;
}

.imagens{
    width: 90%;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.itens {
    width: 85%;
    margin-left: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.itens > div {
    text-align: justify;
}

.itens > p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 20px;
}

aside{
    width: auto;
}

.informações{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.titulo{
    padding-top: 30px;
    color: #004AAD;
    font-family: 'Comfortaa', cursive;
    font-size: larger;
}

.texto-final{
    color: black;
    width: 80%;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width:690px){

    nav{
        height: 40px;
    }
    ul{
        
        font-size: 18px;
        flex-direction: column;
        align-items: center;
    }
    #banner{
        height: 570px;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }
    .botao-começar{
        margin: auto;
        
    }
}