@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
body, html {
    overflow-x: hidden !important;
}

.container-principal{
    margin-bottom: 130px;
    font-family: 'Comfortaa', cursive;
}

header {
    width: 100%; 
    height: 100px;	
    background-color: #004AAD; 
    position: fixed; 
    top: 0;
    z-index: 99;
}

.logo img {
    margin-left: 15%;
}

/*definição das prioridades do cabeçallho*/
nav {
    position: absolute; 
    right: 30px; 
    bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

nav ul li {
    display: flex;
    float: left; 
    color: #fff; 
    width: auto; 
    margin: 0.8em; 
    font-size: max(22px 10vw);
    list-style: none; 
    font-weight: 100;
}

nav ul li a {
    flex-direction: row;
    text-decoration: none; 
    color: #fff;
}

nav ul li a:hover {
    color: #fdc202;
}

/* Corpo do site*/
#banner{
    display: flex;
    width: max-content;
    padding-top: 20px;
    margin-left: 16%;
    margin-right: 20%;
    margin-bottom: 50px;    
}

.img-home img{
    margin-left:5%;
    border-radius: 8px;
    border: 1px solid black;
}

.container-texto{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 350px;
    padding-top: 35px;
    padding-left: 25px;
}

.texto{
    align-items: center;
    padding-left: 12%;
    padding-top: 10%;
}

.texto > p{
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.botao-começar {
    display: flex;
    padding-top: 30px
}

.bt-comecar {
    width: 170px;
    margin-left: 36px;
    padding: 10px 30px;
    background: #004AAD;
    border: 2px solid transparent;
    border-radius: 20px;
    color: #fff;
    transition: all 0.4s;
    font-size: 15px;
}

.bt-comecar {
    transform: scale(0.9);
}

.plataforma{
    width: 100%;
    padding: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background-color: #004AAD;
    margin-bottom: 30px;
}

.plataforma > div > h1 {
    width: 92%;
    padding: 0px;
    color: white;
    margin-bottom: 25px;
    font-size: 27px;
    font-family: 'Comfortaa', cursive;
}

.imagens{
    width: 90%;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.itens {
    width: 85%;
    margin-left: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.itens > div {
    text-align: justify;
}

.itens > p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 20px;
}

aside{
    width: auto;
}

.informações{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.titulo{
    padding-top: 30px;
    color: #004AAD;
    font-family: 'Comfortaa', cursive;
    font-size: larger;
}

.texto-final{
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

.img-informacoes{
    padding-top: 20px;
}
