/* Cadastro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;				
}

h2 {
    font-size: 30px;
}

.container {
    width: 450px;
    padding: 50px 20px;
}

.campos {
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    transition: .25s ease-in-out;
    margin-top: 25px;
}

.input-field {
    position: relative;
    margin-bottom: 5px;
    flex: 1 1 45%;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(40px);
    transition: .25s ease-in-out;
}

.campo:focus{
    border-bottom: 2px solid;
    box-shadow: 0 1px 0 0;
}

.campos:focus + label {
    transform: translateY(14px);
    font-weight: bold;
}

.campos:not(:placeholder-shown) + label {
    transform: translateY(14px);
    font-weight: bold;
}

.campos:not(:placeholder-shown) {
    border-bottom: 1px solid;
    box-shadow: 0 1px 0 0;
}

.campos::placeholder{
    color: transparent;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.espaço {
    margin-right: 5%;
}

.bt_login {
    padding: 10px 30px;
    margin: 20px;
    background: #C56B34;
       border: 2px solid transparent;
       border-radius: 20px;
    color: #fff;
    transition: all 0.4s;	
}

.bt_login:hover {
    transform: scale(0.9);
}

.botao_login {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{     
    margin: 0;
    padding: 0;
}
.container-principal{
    color: #777; 
    margin-bottom: 130px;
    font-family: 'Comfortaa', cursive;
}

header {
    width: 100%; 
    height: 100px;	
    background-color: #004AAD; 
    position: fixed; top: 0;
    font-family: 'Comfortaa', cursive;
}

.logo img {
    margin-left: 15%;
}

/*definição das prioridades do cabeçallho*/
nav {
    position: absolute; 
    right: 30px; 
    bottom: 0px;
}

nav ul li {
    display: flex;
    float: left; 
    color: #fff; 
    width: auto; 
    margin: 0.8em; 
    font-size: 1.5em; 
    list-style: none; 
    font-weight: 100;
    font-family: 'Comfortaa', cursive;
}

nav ul li a {
    flex-direction: row;
    text-decoration: none; 
    color: #bbb;
}

nav ul li a:hover {
    color: #fdc202;
}